<li>
    <h2>{{#link-to 'character.index' character}}{{character.name}}{{/link-to}}</h2>
    <div class="background">
        {{character.background}}
    </div>
    {{#if expanded}}
        <button {{action "delete" character}} class="destroy">Delete</button>
    {{/if}}

</li>
