{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans 'Talents' %}{% endblock %}

{% block content %}

    {% for talent in object_list %}
        <article id="{{ talent.code }}">
            <h3>{{ talent.name }}</h3>
            <div class="description">
                <p>{{ talent.description }}</p>
            </div>
            {% if talent.linked_skills.all.count %}
                <div class="skills">
                    <h4>{% trans 'Linked skills' %}</h4>
                    <ul class="list-inline">
                        {% for skill in talent.linked_skills.all %}
                            <li>

                                <a href="{{ skill.get_absolute_url }}">{{ skill.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </article>
    {% endfor %}
{% endblock content %}
